<%- include('./partials/_header') %>

    <div class="container">
      <h1 class="mb-3">Create</h1>
  
      <form action="/create" method="POST">
        
      <%- include('./partials/_create_form') %>
      <button type="submit" class="btn btn-primary">Create</button>
  
      </form>
  
    </div>


<%- include('./partials/_footer') %>